:root{
    --primary-background: #FFE8D2;
    --primary: #FFA95A;
    --primary-deep: #FF7A00;
    --text-white: #FFFFFF;
    --text-black: #2C2C2C;
}

body{
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background: var(--primary-background);
}

.product-setion{
    flex: 2;
    padding: 20px;
    border-right: 2px solid #ddd;
}

#cart-section{
    flex: 1;
    padding: 20px;
    background: var(--primary);
    display: flex;
    flex-direction: column;
}

#barcode-input{
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

#product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-card{
    border: 1px solid var(--text-black);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background: var(--primary);
    transition: 0.2s;
}

.product-card:hover{
    background: var(--primary-deep);
}

#cart-items{
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: 2px solid var(--primary-background);
    margin-bottom: 10px;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px inset var(--primary-background);
}

.total-box{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

button.checkout-btn{
    background: var(--primary-deep);
    color: var(--text-white);
    border: none;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

button.checkout-btn:hover{
    background: var(--primary-background);
    color: var(--text-black);
    transform: scale(1.02);
}

button.checkout-btn:active{
    transform: scale(0.98);
}

#payment-method{
    padding: 10px;
    margin-bottom: 20px;
}